logs
target
/RUNNING_PID

project/project
project/target
tmp
dist

.sbtserver
.sbtserver.lock


### frontend

# dependencies
node_modules

/public

# testing
frontend/coverage

# production
frontend/build

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
